body{
    margin-left: 70px;
    margin-top: 60px;
    background-color: #191919;
}

.bolinha1{
    background-color: #f6e59c;
    height: 140px;
    width: 140px;
    border-radius: 100px;
}
.bolinha2{
    margin-top: 50px;
    background-color: #f6e59c;
    height: 140px;
    width: 140px;
    border-radius: 100px;
}
.bolinha3{
    margin-top: 50px;
    background-color: #f6e59c;
    height: 140px;
    width: 140px;
    border-radius: 100px;
}
.bolinha4{
    margin-top: 50px;
    background-color: #f6e59c;
    height: 140px;
    width: 140px;
    border-radius: 100px;
}
.bolinha5{
    margin-top: 50px;
    background-color: #f6e59c;
    height: 140px;
    width: 140px;
    border-radius: 100px;
}
.bolinha6{
    margin-top: 50px;
    background-color: #f6e59c;
    height: 140px;
    width: 140px;
    border-radius: 100px;
}
.bolinha7{
    margin-top: 50px;
    background-color: #f6e59c;
    height: 140px;
    width: 140px;
    border-radius: 100px;
}
