body{
    background-color: #191919;
    margin-top: 3%;
    margin-left: 3%;
    display: grid;
    gap: 3vw;
 } 

 div{
    width: 7vw;
    height: 14vh;
    background: #F6E59C;
    border-radius: 100%;
  }

.fileira1{
  display: grid;
  grid-template-columns: 1fr  1fr 1fr 1fr;
  gap: 5vw;
}
.fileira2{
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  gap: 5vw;
}
.fileira3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}