
body {
    margin-top: 5%;
    margin-left: 16rem;
    background-color: #62374e;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20vw;
}


div{
    max-width: 100%;
    position: relative;
    width: 8vw; 
    height: 16vh; 
    background: #fdc57b; 
}